<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916367719082-e2hn5iges6csjh4ev0rqq788mio685h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916367719082-e2hn5iges6csjh4ev0rqq788mio685h5</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLLwN5mYX0PnGf6qTtUqp50dYUUOcOyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>916367719082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimoapp.jimo</string>
	<key>PROJECT_ID</key>
	<string>goodplaces-app</string>
	<key>STORAGE_BUCKET</key>
	<string>goodplaces-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916367719082:ios:835e301226149b07daeed3</string>
	<key>DATABASE_URL</key>
	<string>https://goodplaces-app.firebaseio.com</string>
</dict>
</plist>